<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	     http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	     http://code.alibabatech.com/schema/dubbo
	     http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

	<!--增加服务，只需要修改 id="xxx", interfaceName的value属性值-->
	<bean id="accOptFacade" class="com.sztx.se.rpc.dubbo.consumer.DubboClient">
		<property name="interfaceName" value="com.berbon.user.facade.AccOptFacade" />
		<property name="isCheck" value="false" />
		<property name="protocol" value="dubbo" />
	</bean>


	<bean id="queryUserInfoService" class="com.sztx.se.rpc.dubbo.consumer.DubboClient">
		<property name="interfaceName" value="com.sztx.usercenter.rpc.api.service.QueryUserInfoService" />
		<property name="isCheck" value="false" />
		<property name="protocol" value="dubbo" />
	</bean>



</beans>